#website-logo {
  width: 300px;
}

.flo-primary-color {
  color: #ee9c97 !important;
}
.flo-primary-bg-color {
  background-color: #ee9c97 !important;
  font-weight: 500;
  border: none !important;
}
.flo-primary-bg-color:hover {
  background-color: #eeb7b4 !important;
  border: none !important;
}

.hero-img {
  max-width: 350px;
}

.hero-position {
  position: absolute;
  top: -30px;
  right: -100px;
}

.card-min-height {
  min-height: 25rem;
}

hr {
  width: 50%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

footer a {
  color: #000000;
  text-decoration: none;
}

footer a:hover {
  color: #575352;
  text-decoration: underline wavy;
  text-underline-offset: 4px;
  text-decoration-color: #ee9c97;
}

.nav-link:hover:not(.active) {
  text-decoration: underline wavy;
  text-underline-offset: 4px;
  text-decoration-color: #ee9c97;
}

.cute-underline {
  text-decoration: underline wavy;
  text-underline-offset: 8px;
  text-decoration-color: #ee9c97;
}
