#website-logo {
  width: 300px;
}

.flo-primary-color {
  color: #ee9c97 !important;
}
.flo-primary-bg-color {
  background-color: #ee9c97 !important;
  font-weight: 500;
  border: none !important;
}
.flo-primary-bg-color:hover {
  background-color: #eeb7b4 !important;
  border: none !important;
}
